<!DOCTYPE html>
<html>
    <head>
        <title>Workshop's app</title>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    
    <body>
        <h1>hello byte</h1>
        <a href="/add">New Movie Note</a>
        
        <form id="frmAddMovie" method="POST">
            {% csrf_token %}
            {{ form }}
            <button id="btnSubmit">Submit</button>
        </form>
        
        <ul id="movieList">
            {% for movie in movies %}
                <li>{{ movie }}</li>
            {% endfor %}
        </ul>
        
        <script>
            $.ajax({
                url: "/api/v1/movies",
            }).done(function(data) {
                $('#movieList').empty();
                $.each(data, function(index, movie){
                    $("#movieList").append("<li>" + movie.name + "</li>");
                })
            }).fail(function(data){
                alert("Something wrong is not right...");
                console.log("FAIL!");
                console.log(data);
            });
            
            $("#btnSubmit").on("click", function(e){
                e.preventDefault();
                frmData = $("#frmAddMovie").serializeArray();
                $.ajax({
                    url: "/api/v1/movies/",
                    method: "POST",
                    data: frmData,
                }).done(function(){
                    $("#movieList").append("<li>" + frmData[1].value + "</li>");
                }).fail(function(data){
                    alert("Something wrong is not right...");
                    console.log("FAIL!");
                    console.log(data);
                })
            })
        </script>
        
    </body>

</html>